#cardholderFromAdminDashboard{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
}

#cardholderFromAdminDashboard button{
    margin: 10px;
}