body {
    font-family: "Lato", sans-serif;
  }

  .logo{
    height: 3.5rem;

}
  
  .sidenav {
    height: 100%;
    width: 215px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 240px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    text-align: center;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


  /* my codes starts here */

  .forms{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
  }
  .register{
    width: 600px;
    border: 1px solid black;
    padding: 10px;
  }
  .card_holder {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
  }
  .card{
    width: 500px;
    margin: 10px;
  }

  /* for grading table */

  th {
    color: navy;
  }

  table{
    border: 1px solid black;
    margin-top: 15px;
    font-size: small;
  }

   input{
    width: 50px;
    
  }
  
  input[type="submit"]{
    background: navy;
    color: white;
    width: fit-content;

  }

  footer{
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-size: smaller;
  }

  .profile-editor-form-loginDashboard{
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  label{
    display: flex;
  }


  .form-submit-of-loginDashboard{
    margin: 10px;
  }
  .text-area-of-loginDashboard{
    height: 300px;
  }