<html lang="en">
  <%- include('./partials/headDashboard.ejs') %>

<body>
  <%- include('./partials/navDashboard.ejs') %>

  
  <div class="main">
    <% errors.forEach(function(message){ %>
      <div class="alert alert-danger text-center"><%= message %></div>
    <% }) %>

    
    <h2>Hello, <%= session_data.registerName %></h2>
    <h3>Welcome</h3>
    
    
  </div>

</body>

</html>