<!DOCTYPE html>
<html>
<title>SAVE Youth HSTU Chapter</title>
<meta charset="UTF-8">
<link rel="icon" href="./public/logo.png">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="./public/style.css">
<body id="myPage">



<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="#" class="w3-bar-item w3-button w3-teal"><img src="./public/logo.png" alt="Save Logo" class="logo"></a>
  <a href="#team" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Team</a>
  <a href="#work" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Our Work</a>
  <a href="#pricing" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Our Blogs</a>
  <a href="#contact" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Contact</a>
    <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button" title="Notifications">Login</button>     
  </div>
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-teal" title="Search"><i class="fa fa-search"></i></a>
 </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium">
    <a href="#team" class="w3-bar-item w3-button">Team</a>
    <a href="#work" class="w3-bar-item w3-button">Our Work</a>
    <a href="#pricing" class="w3-bar-item w3-button">Our Blogs</a>
    <a href="#contact" class="w3-bar-item w3-button">Contact</a>
    <a href="#" class="w3-bar-item w3-button">Login</a>
  </div>
</div>

<!-- Image Header -->
<div class="w3-display-container w3-animate-opacity">
  <img src="./public/static_images/save_banner.jpg" alt="boat" style="width:100%;min-height:350px;">
  <!-- <img src="https://img.search.brave.com/fVA0oTUiuvp4AKfUyx2QhcFnlh5bcB3El-ghOzpGt48/fit/1200/829/ce/1/aHR0cHM6Ly8zLmJw/LmJsb2dzcG90LmNv/bS8tXzJrcjkxeWsz/d3cvV0N5OUtnUjdT/WUkvQUFBQUFBQUFB/N0kvLXMxRWxpYnhX/bVVsU2V4SzRORHdQ/WG50cVZteFViTHpR/Q0xjQi9zMTYwMC9o/c3R1LmpwZw" alt="boat" style="width:100%;min-height:350px;max-height:600px;"> -->
  <div class="w3-container w3-display-bottomleft w3-margin-bottom">  
    <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-xlarge w3-theme w3-hover-teal" title="Go To W3.CSS">SAVE YOUTH HSTU CHAPTER</button>
  </div>
</div>



<!-- Team Container -->
<div class="w3-container w3-padding-64 w3-center" id="team">
<h2>OUR TEAM</h2>
<p>Meet the team - our little family:</p>

<div class="w3-row"><br>

<div class="w3-quarter">
  <img src="https://scontent.fdac12-1.fna.fbcdn.net/v/t1.6435-9/89386734_1697820517024836_3596813872339615744_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=kTwJCbUZcQsAX-iQz8t&_nc_ht=scontent.fdac12-1.fna&oh=00_AT-rVf5Etlpju7Kgz1cDKHK2U2UV-7Ufo_xqu_woLxo6rg&oe=62031DCC" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Md. Tahir Anam Tamin</h3>
  <p>Co-President</p>
</div>

<div class="w3-quarter">
  <img src="https://scontent.fdac12-1.fna.fbcdn.net/v/t39.30808-1/c0.0.320.320a/p320x320/242390023_2939880132894331_2859091979558739374_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=7206a8&_nc_ohc=vPspubJ3oXMAX8oAMPx&_nc_oc=AQkaWBuijchAvGowYKvIA5nhEkqlfPR3IH1-ZidL5TqpMcOhd99ExA_iRouztN-DHzc&_nc_ht=scontent.fdac12-1.fna&oh=00_AT8zMTLmArgPVVNSSfUWqoux0ijFYcp_OnFErM4M39BU5g&oe=61E20955" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Md. Nurullah Sayem</h3>
  <p>General Secretary</p>
</div>

<div class="w3-quarter">
  <img src="https://scontent.fdac12-1.fna.fbcdn.net/v/t1.6435-9/p480x480/74528533_196531468177544_4937411403238604800_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=174925&_nc_ohc=ZQxC5qOk-yoAX-dLAKs&tn=dI38Z6VJJMsHQbYS&_nc_ht=scontent.fdac12-1.fna&oh=00_AT_OUS8rtZSC47ZiIMObFHkDntyxENtrs53BRUJS9J878w&oe=62049513" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Afsana Ritu</h3>
  <p>Team Lead(Youth Employability)</p>
</div>

<div class="w3-quarter">
  <img src="https://scontent.fdac12-1.fna.fbcdn.net/v/t39.30808-6/256608459_569197827713972_4621876146798820896_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=174925&_nc_ohc=Z2UTsCJLw4cAX9M4cw6&_nc_ht=scontent.fdac12-1.fna&oh=00_AT-kCgN60SjJOhv8uxZd64_jdf--zkxnkiN4k_YesXKYAQ&oe=61E2D7A2" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
  <h3>Anika Tasnim</h3>
  <p>Team Lead(SHE Leads)</p>
</div>

</div>
</div>

<!-- Work Row -->
<div class="w3-row-padding w3-padding-64 w3-theme-l1" id="work">

<div class="w3-quarter">
<h2>Our Blog</h2>
<p>(Students Against Violence Everywhere) SAVE is a youth platform that is led by students to promote tolerance, diversity, and peace. Hajee Mohammad Danesh Science and Technology University is one of the newest Chapters of it.</p>
</div>

<!-- blog card starts here -->
 <% blog.forEach((blog)=>{ %>
  <% if(blog.category == 'our blog'){ %>
<div class="w3-quarter">
<div class="w3-card w3-white">
  <img src="<%= blog.imageAddress %>" alt="Snow" style="width:100%">
  <div class="w3-container">
  <h3><%= blog.blogHeading %></h3>

  <p><%= blog.blogBody %>
    #Stop_Communal_Violence</p>

  </div>
  </div>
</div>
  <% } %>

 <% }) %>









</div>



<!-- Our Works Row -->
<div class="w3-row-padding w3-center w3-padding-64" id="pricing">
    <h2>Our Works</h2>
    <p>Our members achievements and upcoming news.</p><br>
    <div class="w3-third w3-margin-bottom">
      <ul class="w3-ul w3-border w3-hover-shadow">
        <li class="w3-theme">
          <p class="w3-xlarge">Students Against Sexual Assault Everywhere</p>
        </li>
        <li class="w3-padding-16">Posted by Tahir Anam Tamin</li>
        <li class="w3-padding-16">Co - President, SAVE Youth HSTU Chapter</li>
        <li class="w3-padding-16">
            Congratulations to all the winners of the competition "Students Against Sexual Assault Everywhere" organized by SAVE Youth DU chapter.... 
        </li>
        <li class="w3-theme-l5 w3-padding-24">
          <button class="w3-button w3-teal w3-padding-large"><i class="fa fa-check"></i> Read More</button>
        </li>
      </ul>
    </div>

    

    <div class="w3-third w3-margin-bottom">
        <ul class="w3-ul w3-border w3-hover-shadow">
          <li class="w3-theme">
            <p class="w3-xlarge">Youth Action for Resilient Recovery</p>
          </li>
          <li class="w3-padding-16">Posted by Anika Tasnim</li>
          <li class="w3-padding-16">Team Lead(SHE-Leads), SAVE Youth HSTU Chapter</li>
          <li class="w3-padding-16">
            Register for
            Youth Action for Resilient Recovery (Oct 2 & 4)
            https://forms.gle/WJcJtWHGJFqv87u27.... 
          </li>
          <li class="w3-theme-l5 w3-padding-24">
            <button class="w3-button w3-teal w3-padding-large"><i class="fa fa-check"></i> Read More</button>
          </li>
        </ul>
      </div>   
       <div class="w3-third w3-margin-bottom">
        <ul class="w3-ul w3-border w3-hover-shadow">
          <li class="w3-theme">
            <p class="w3-xlarge">Committee Announcement</p>
          </li>
          <li class="w3-padding-16">Posted by Md. Nurullah Sayem</li>
          <li class="w3-padding-16">General Secretary, SAVE Youth HSTU Chapter</li>
          <li class="w3-padding-16">
            With the guidance from our Honorable Moderator Maám, 
            Nasrin Naher Bithe 
            Lecturer, Department of Development Studies, HSTU, Dinajpur-5200
            We hereby declare our very first committee with whom we will begin our journey towards positivity. .... 
          </li>
          <li class="w3-theme-l5 w3-padding-24">
            <button class="w3-button w3-teal w3-padding-large"><i class="fa fa-check"></i> Read More</button>
          </li>
        </ul>
      </div>   
       
</div>

<!-- Contact Container -->
<div class="w3-container w3-padding-64 w3-theme-l5" id="contact">
  <div class="w3-row">
    <div class="w3-col m5">
    <div class="w3-padding-16"><span class="w3-xlarge w3-border-teal w3-bottombar">Contact Us</span></div>
      <h3>Address</h3>
      <p>Meet us here.</p>
      <p><i class="fa fa-map-marker w3-text-teal w3-xlarge"></i>Hajee Mohammad Danesh Science and Technology University, Dinajpur - 5200</p>
      <p><i class="fa fa-phone w3-text-teal w3-xlarge"></i>  +88015221564646464646</p>
      <p><i class="fa fa-envelope-o w3-text-teal w3-xlarge"></i>Save@save.com</p>
    </div>
    <div class="w3-col m7">
      <form class="w3-container w3-card-4 w3-padding-16 w3-white" action="/action_page.php" target="_blank">
      <div class="w3-section">      
        <label>Name</label>
        <input class="w3-input" type="text" name="Name" required>
      </div>
      <div class="w3-section">      
        <label>Email</label>
        <input class="w3-input" type="text" name="Email" required>
      </div>
      <div class="w3-section">      
        <label>Message</label>
        <input class="w3-input" type="text" name="Message" required>
      </div>  
      <input class="w3-check" type="checkbox" checked name="Like">
      <label>I Like it!</label>
      <button type="submit" class="w3-button w3-right w3-theme">Send</button>
      </form>
    </div>
  </div>
</div>

<!-- Image of location/map -->
<img src="https://scontent.fdac12-1.fna.fbcdn.net/v/t1.6435-9/p960x960/121521933_132270671957237_8113796762494208631_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=e3f864&_nc_ohc=BfWgCF7cd9MAX8rjIWM&_nc_ht=scontent.fdac12-1.fna&oh=00_AT9HESGSSWsL86d20VSZTEyMCFQ-EBIoR8PG9MLctBrrhg&oe=620470E6" class="w3-image w3-greyscale-min" style="width:100%;">

<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-theme-d1 w3-center">
  <h4>Follow Us</h4>
  <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Facebook"><i class="fa fa-facebook"></i></a>
  <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Twitter"><i class="fa fa-twitter"></i></a>
  <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-google-plus"></i></a>
  <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-instagram"></i></a>
  <a class="w3-button w3-large w3-teal w3-hide-small" href="javascript:void(0)" title="Linkedin"><i class="fa fa-linkedin"></i></a>
  <p>Powered by SAVE - Student Against Violence Everywhere</p>

  <div style="position:relative;bottom:100px;z-index:1;" class="w3-tooltip w3-right">
    <span class="w3-text w3-padding w3-teal w3-hide-small">Go To Top</span>   
    <a class="w3-button w3-theme" href="#myPage"><span class="w3-xlarge">
    <i class="fa fa-chevron-circle-up"></i></span></a>
  </div>
</footer>

<script>
// Script for side navigation
function w3_open() {
  var x = document.getElementById("mySidebar");
  x.style.width = "300px";
  x.style.paddingTop = "10%";
  x.style.display = "block";
}

// Close side navigation
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>
